{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
  },
  "rules": {
    "no-console": 0,
    "no-param-reassign": 0,
    "jsx-ally": {
      "click-events-have-key-events": 0
    }
  }
}