// Proper box sizing all round
*
  box-sizing: border-box;

// Basics for our dom wrappers
body, html
  margin: 0
  padding: 0
  color: $color-foreground
  background-color: $color-background

  font-family: "Open Sans", sans-serif
  font-size: 16px
  height: 100%

#root
  height: 100%
  max-width: 100%
  overflow: hidden

#component-container
  position: absolute
  top: $header-bar-height
  left: 0
  right: 0
  bottom: 0
  overflow-y: auto
  overflow-x: hidden
