// Text
.text-center
  text-align: center

// Size
.h-100
  height: 100%

.w-100
  width: 100%

// Padding
.p-1
  padding: $sizer

.px-1
  padding-left: $sizer
  padding-right: $sizer

.py-1
  padding-top: $sizer
  padding-bottom: $sizer

.pl-1
  padding-left: $sizer

.pr-1
  padding-right: $sizer

.pt-1
  padding-top: $sizer

.pb-1
  padding-bottom: $sizer


// Margin
.m-1
  margin: $sizer

.mx-1
  margin-left: $sizer
  margin-right: $sizer

.my-1
  margin-top: $sizer
  margin-bottom: $sizer

.ml-1
  margin-left: $sizer

.mr-1
  margin-right: $sizer

.mt-1
  margin-top: $sizer

.mb-1
  margin-bottom: $sizer


// Display and Flexbox
.d-flex
  display: flex
  align-items: center

.fd-row
  flex-direction: row

.fd-col
  flex-direction: column

.jc-space-between
  justify-content: space-between

.jc-space-around
  justify-content: space-around

.flex-center
  display: flex
  align-items: center
  justify-content: center


// Effects
.pulse-opacity
  animation: pulse-opacity 1s linear infinite

@keyframes pulse-opacity
 0%
   opacity: 1;
 50%
   opacity: .3;
 100%
   opacity: 1;