/*
 * Colors
 */

// Basic colors
$color-background: #222222
$color-foreground: #bbb
$color-backdrop: #000

$color-dim: #888
$color-dim-text: $color-dim
$color-dim-icon: $color-dim

$color-highlight: #EAA210
$color-highlight-text: $color-highlight
$color-highlight-icon: $color-highlight

// Bubbles
$color-bubble-background: #111
$color-bubble-foreground: $color-foreground

// Panels
$color-panel-background: #333333
$color-panel-foreground: $color-foreground
$color-panel-border: #111

// Tiles
$color-tile-background: $color-panel-background
$color-tile-foreground: $color-foreground

$color-tile-dim: $color-background
$color-tile-dim-text: $color-background
$color-tile-dim-icon: $color-background

$color-tile-highlight: $color-highlight
$color-tile-highlight-text: $color-highlight-text
$color-tile-highlight-icon: $color-highlight-icon

$color-nav-subheading-background: #111


/*
 * Sizing
 */

$sizer: .5em
$sizer-x: $sizer
$sizer-y: $sizer

// Header & Nav
$nav-width: 280px
$header-bar-height: 3.2em

// Tiles
$tile-width: 6.5rem
$tile-height: 6.5rem

$tile-grid-gap: $sizer
